.test-color-blue {
    color: blue;
}

.pull-right {
    text-align: right;
}

.card-content-centered {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
}

.card-content-centered img {
    width: 90px;
    border-radius: 50%;  
}

.cursor-pointer {
    cursor: pointer;
}